@model JuliePro_Models.CalendarEvent


<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
               Titre
            </th>
            <th>
                voir desicription
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.Date
            </td>
            <td>
                @Model.Title
            </td>


            <td>
                <button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#CalenderEvent@(Model.Id)"  >
                    Button pour voir description
                </button>
            </td>

        </tr>
        <div class="collapse" id="CalenderEvent@(Model.Id)">
            <div class="card card-body">
                @Model.Description
            </div>
        </div>


</table>
